<app-menu></app-menu>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="https://icons.iconarchive.com/icons/icons-land/vista-people/256/Office-Customer-Male-Light-icon.png" id="icon" alt="User Icon" />
    </div>
    <form #f="ngForm" novalidate #addUserForm="ngForm" (ngSubmit)="onAddUser(addUserForm)">
      <div class="form-group">
        <input type="text" ngModel name="username" class="form-control" id="username" placeholder="Username" required autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" ngModel name="password" class="form-control" id="password" placeholder="Password" required autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" ngModel name="email" class="form-control" id="email" placeholder="Email" required autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First Name" required autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name" required autocomplete="off">
      </div>

      <div class="modal-footer">
        <button [disabled]="addUserForm.invalid" type="submit" class="btn btn-primary" >Submit</button>
      </div>
      <div class="alert alert-warning" *ngIf="addUserForm.submitted && isSignUpFailed" >
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
