<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a href="/home" class="navbar-brand" style="color:white;" (click)="navToHome()">DavidychRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="navToRegister()">Зареєструватись</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" (click)="navToLogin()">Авторизуватись</a>
        </li>

      </ul>



      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Вийти</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
